/* You can add global styles to this file, and also import other style files */

:root {
    --available: rgb(4, 190, 88);
    --booked: rgb(2, 92, 0);
    --selected: rgb(255, 217, 0);
    --border-color: rgb(235, 235, 235);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(66, 66, 66);
    box-sizing: border-box;
}

.ngx-toastr {
    width: 200px !important;
    
    @media (min-width: 550px) {
        width: 330px !important;
    }
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";