<div class="movie-data">
    <p class="movie-title">{{movie?.title}}</p>
    <p>{{movie?.releaseYear}}</p>
    <p>{{movie?.genre}}</p>
    <p>{{movie?.movieLength}}</p>
    <div class="screening-times">
        <ng-container *ngFor="let startTime of movie?.startTimes">
            <button class="btn-start-time" [routerLink]="['selectseat']"
                [queryParams]="{movieId: movie?.id, screeningDate: [item?.shortDate, startTime]}">{{startTime}}</button>
        </ng-container>
    </div>
</div>