.movie-title {
    font-size: 1em !important;
    font-weight: 500;
    color: rgb(255, 123, 90) !important;
}

.screening-times {
    display: flex;
    justify-content: flex-start;
    padding-top: .3em;
    padding-bottom: .5em;
}

.movie-data {
    margin-top: .3em;

    p {
        margin: 0;
        font-size: .7em;
        color: rgb(122, 122, 122);
    }
}

.btn-start-time {
    margin-right: .5em;
    padding: 0 .8em;
    border-radius: 5px;
    border: none;
    color: antiquewhite;
    background-color: hsl(177, 100%, 24%);

    &:hover {
        background-color: rgb(255, 123, 90);
    }
}

@media (min-width: 550px) {
    .movie-title {
        font-size: 1.2em !important;
        font-weight: 700;
    }

    .screening-times {
        padding-top: 1em;
        padding-bottom: 0;
    }

    .movie-data {
        margin-top: .6em;

        p {
            margin: 0;
            font-size: .8em;
        }
    }

    .btn-start-time {
        margin-right: .5em;
        padding: 0 .8em;
        border-radius: 5px;
    }
}