header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-medium);
  color: var(--white);
  padding: 0 20px;
}

.ns-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 0 0;
}

.ns-container>h2 {
  font-family: 'Bruno Ace', cursive;
  margin-bottom: 1.5em;
  font-size: 1.3rem;
  letter-spacing: .15em;
}

.now-showing {
  display: grid;
  gap: 1em;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  padding: 1em 0;
}

.logo h1 {
  margin: 0;
  line-height: .3em;
  color: var(--gray-light);
  font-size: 1rem;
}

.logo span {
  font-family: 'Reggae One', cursive;
  font-size: 1.7rem;
  color: var(--blue);
}

.logo:hover {
  text-shadow: 0 0 30px var(--blue);
}

.logo .m {
  padding-left: 2.2em;
  margin-bottom: .6em;
}

.logo .t {
  position: relative;
  padding-left: 2em;
}

.logo .t>span {
  position: absolute;
  left: .7em;
  top: -.3em;
}

header i {
  color: var(--white);
}

ul {
  height: 35px;
  border-radius: 8px;
  background-color: var(--gray);
  color: var(--gray-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

ul>li {
  list-style: none;
  margin-right: 2em;
  cursor: pointer;
  font-weight: 500;
}

ul>li:hover {
  color: var(--blue);
}

.movie-card {
  height: 250px;
  position: relative;
  cursor: default;
  letter-spacing: .1em;
  overflow: hidden;
  border-radius: 8px;
}

.movie-card .masked {
  width: 90%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 120px;
  left: 0;
  transition: all 0.5s ease-in-out;
  margin: 0 1em;
  padding: 0 .5em;
}

.movie-img {
  display: block;
  position: relative;
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-title,
.movie-genre,
.movie-release-year,
.movie-length {
  position: relative;
  margin: 0;
  text-shadow: 0 1px 4px black;
  transform: translateY(100px);
  transition: all 0.2s linear;
}

.movie-genre,
.movie-release-year,
.movie-length {
  font-weight: 400;
  font-size: .8rem;
}

.movie-title {
  font-weight: 500;
  font-size: 1rem;
}

.movie-genre {
  margin-top: .7em;
}

.btn {
  border: none;
  padding: .6em 1.6em;
  border-radius: 6px;
  cursor: pointer;
}

.btn p {
  margin: 0;
  color: rgb(148, 148, 148);
}

.btn:hover p {
  color: black
}

.btn-booking {
  width: 60%;
  text-align: center;
  background-color: whitesmoke;
  display: block;
  margin-top: .5em;
  padding: .5em 0;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 0 7px black;
  transform: translateY(100px);
  transition: all 0.2s linear;
}

.movie-card:hover img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .7;
}

.movie-card:hover .movie-title,
.movie-card:hover .movie-genre,
.movie-card:hover .movie-release-year,
.movie-card:hover .movie-length,
.movie-card:hover .btn {
  transform: translateY(0px);
}

.movie-card:hover .btn {
  transition-delay: .2s;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--white);
}

a:hover {
  color: var(--white);
}

a:active {
  color: var(--white);
}

footer {
  width: 80%;
  margin: 1em auto;
}

.footer-menu {
  background-color: var(--black-medium);
  border-radius: 10px;
  padding: 1em 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5em;
  justify-content: center;
  align-items: start;
}

.footer-menu,
.copyright {
  font-size: .75rem;
}

.copyright {
  margin: 1.5em .3em 0 .3em;
  text-align: center;
  color: var(--gray-light);
}

.footer-container p {
  margin: 0 0 .2em 0;
  color: var(--gray-light);
  cursor: pointer;
}

.footer-container p:hover {
  color: var(--blue);
}

@media (min-width: 780px) {
  ul {
    width: 65%;
  }

  .now-showing {
    grid-template-columns: auto auto;
  }

  footer {
    margin: 3em auto;
  }

  .footer-menu {
    gap: 9em;
    grid-template-columns: auto auto auto;
  }

  .footer-menu,
  .copyright {
    font-size: .875rem;
  }
}

@media (min-width: 1200px) {
  ul {
    width: 45%;
  }

  .now-showing {
    grid-template-columns: auto auto auto;
  }

  .footer-menu {
    gap: 15em;
  }
}

@media (min-width: 1700px) {
  ul {
    width: 30%;
  }

  .now-showing {
    grid-template-columns: auto auto auto auto;
  }

  .footer-menu {
    gap: 20em;
  }
}