.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--black-medium);
  padding: 1em 0;
}

.ns-container {
  width: 80%;
  margin: 0 auto;
  padding: 6em 0 11em 0;
}

.ns-container>h2 {
  font-family: 'Bruno Ace', cursive;
  margin-bottom: 1.5em;
  font-size: 1.3rem;
  letter-spacing: .15em;
}

.now-showing {
  display: grid;
  gap: 1em;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo h1 {
  margin: 0;
  line-height: .3em;
  color: var(--gray-light);
  font-size: 1rem;
}

.logo span {
  font-family: 'Reggae One', cursive;
  font-size: 1.7rem;
  color: var(--blue);
}

.logo:hover {
  text-shadow: 0 0 30px var(--blue);
}

.logo .m {
  padding-left: 2.2em;
  margin-bottom: .6em;
}

.logo .t {
  position: relative;
  padding-left: 2em;
  padding-bottom: .2em;
}

.logo .t>span {
  position: absolute;
  left: .7em;
  top: -.28em;
}

header i {
  color: var(--white);
}

ul {
  height: 35px;
  border-radius: 8px;
  background-color: var(--gray);
  color: var(--gray-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

ul>li {
  list-style: none;
  margin-right: 2em;
  cursor: pointer;
  font-weight: 500;
}

ul>li:hover {
  color: var(--blue);
}

.movie-card {
  height: 250px;
  position: relative;
  cursor: default;
  letter-spacing: .1em;
  overflow: hidden;
  border-radius: 8px;
}

.movie-card .masked {
  width: 90%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 120px;
  left: 0;
  transition: all .5s ease-in-out;
  margin: 0 1em;
  padding: 0 .5em;
}

.movie-img {
  display: block;
  position: relative;
  transition: all .2s linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-title,
.movie-genre,
.movie-release-year,
.movie-length {
  position: relative;
  margin: 0;
  text-shadow: 0 1px 4px black;
  transform: translateY(100px);
  transition: all .2s linear;
}

.movie-genre,
.movie-release-year,
.movie-length {
  font-weight: 400;
  font-size: .8rem;
}

.movie-title {
  font-weight: 500;
  font-size: 1rem;
}

.movie-genre {
  margin-top: .7em;
}

.btn {
  border: none;
  padding: .6em 1.6em;
  border-radius: 6px;
  cursor: pointer;
}

.btn p {
  margin: 0;
  color: rgb(148, 148, 148);
}

.btn:hover p {
  color: black
}

.btn-booking {
  width: 60%;
  text-align: center;
  background-color: whitesmoke;
  display: block;
  margin-top: .5em;
  padding: .5em 0;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 0 7px black;
  transform: translateY(100px);
  transition: all 0.2s linear;
}

.movie-card:hover img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
  opacity: .7;
}

.movie-card:hover .movie-title,
.movie-card:hover .movie-genre,
.movie-card:hover .movie-release-year,
.movie-card:hover .movie-length,
.movie-card:hover .btn {
  transform: translateY(0px);
}

.movie-card:hover .btn {
  transition-delay: .2s;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--white);
}

a:hover {
  color: var(--white);
}

a:active {
  color: var(--white);
}

.cinema-sessions {
  position: relative;
  padding-top: 2.5em;
  width: 80%;
  text-align: center;
  margin: 6em auto auto;
}

.close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  color: var(--gray-light);
}

.close-icon:hover {
  color: white;
}

.session-header {
  position: relative;
}

.session-background {
  position: relative;
  width: 100%;
  height: 180px;
  object-fit: cover;
  opacity: .5;
}

.bkg-mask {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
}

.session-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.title-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 1em;
  padding-bottom: 1em;
}

.title-content p {
  margin: 0;
  text-shadow: 1px 1px 10px black;
}

.title-img {
  display: none;
  height: 100%;
  width: 40%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.title {
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: .05em;
}

.title-other {
  font-size: .8em;
  font-weight: 300;
}

.title-date {
  font-size: 1em;
  font-weight: 400;
  color: rgb(255, 196, 0);
  padding-top: .1em;
}

.session-body {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.tab-component {
  height: 80px;
  border-style: solid;
  border-width: thin 0;
  border-color: var(--gray);
  display: flex;
  justify-content: space-between;
}

.tab-item-selected,
.tab-item {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-item {
  background-color: black;
  color: var(--gray-light);
}

.tab-item p,
.tab-item-selected p {
  margin: 0;
}

.tab-item:hover {
  background-color: hsl(0, 0%, 10%);
}

.day {
  font-size: 1.7em;
}

.tab-item-selected {
  background-color: var(--gray);
  color: var(--white);
}

.screening-title {
  color: var(--white);
  font-size: 1.3em;
  font-weight: 400;
  margin: 1em 0 0 0;
  letter-spacing: 2px;
}

.tab-content {
  margin: .5em 0;
}

.start-times {
  margin: 0 .8em;
  display: inline-block;
}

.start-times p {
  margin: 0;
  padding: .3em;
  border: 1px solid hsl(0, 0%, 13%);
  border-radius: 15px;
  color: hsl(46, 100%, 30%);
  font-size: 1.2em;
}

.start-times p:hover {
  color: hsl(46, 100%, 50%);
  border: 1px solid hsl(46, 100%, 17%);
}

footer {
  width: 80%;
  margin: 0 auto;
  background-color: var(--black-medium);
  opacity: .95;
}

.footer-menu {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  justify-content: center;
  align-items: flex-start;
}

.footer-menu,
.copyright {
  font-size: .75rem;
}

.copyright {
  margin: 0;
  padding: 1em 0;
  text-align: center;
  color: var(--gray-light);
  background-color: var(--black-dark);
}

.footer-container p {
  margin: 0 0 .2em 0;
  color: var(--gray-light);
  cursor: pointer;
}

.footer-container h4 {
  margin: 0 0 .5em 0;
  color: var(--blue);
}

.footer-container p:hover {
  color: var(--blue);
}

.seat-selection-container {
  position: relative;
  width: 80%;
  padding-top: 2.5em;
  margin: 6em auto auto;
}

.selection-header {
  width: 100%;
  position: relative;
  height: 150px;
}

.selection-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.selection-title-img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.selection-bkg-mask {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.selection-background {
  position: relative;
  width: 100%;
  height: 150px;
  object-fit: cover;
  opacity: .5;
}

.selection-title-content {
  justify-content: flex-end;
  padding-left: .5em;
  padding-bottom: .5em;
}

.selection-body {
  width: 100%;
  margin: 0 auto;
}

.legend {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.legend-item {
  width: 80px;
  padding-right: .4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  width: 20px;
  height: 20px;
  box-shadow: 0 -2px 3px black inset;
  border-radius: 50%;
}

.square-available,
.legend-square-available {
  background-color: var(--available);
}

.square-available,
.square-selected:not(.nope) {
  cursor: pointer;
}

.square-unavailable {
  background-color: var(--unavailable);
}

.square-selected {
  background-color: var(--selected);
}

.legend-title {
  font-size: .8em;
  margin: 0;
  padding-left: .3em;
}

.viewing-area {
  margin-top: 1em;
  width: 100%;
}

.row {
  margin-bottom: .2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-number {
  margin-right: .6em;
  width: 18px;
  text-align: right;
  color: var(--gray-light);
}

.row-seats {
  display: flex;
}

.seat-square {
  width: 4.7vw;
  height: 4.3vw;
  margin-right: .3em;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-square span {
  display: none;
}

.seat-square:hover:not(.square-unavailable) {
  box-shadow: 0 2px 5px black inset;
}

.seat-square:hover:not(.square-unavailable) span {
  display: none;
  color: var(--gray);
  font-weight: 700;
  margin-top: .3em;
}

.selection-footer-container {
  position: fixed;
  bottom: 0;
  width: 80%;
}

.selection-footer {
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  transform: translateY(100px);
  transition: all 0.2s linear;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selection-footer p {
  color: var(--black-medium);
  font-weight: 300;
  margin: 0;
}

.show-selected-seats {
  transform: translateY(0px);
}

.selected-seats {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: .4em;
}

.selected-seats>p {
  display: none;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.add-to-cart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-to-cart {
  position: absolute;
  right: 5px;
  bottom: 10px;
  background-color: var(--selected);
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: all 0.2s linear;
  padding: 0;
}

.btn-add-to-cart:hover {
  transform: scale(1.15);
}

.selected-seat-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .3em;
  margin: .8em 0;
  padding-top: 1.7em;
  width: 84%;
}

.selected-seat {
  height: 25px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(5, 110, 112);
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-seat p {
  margin: 0;
  padding: 0;
  color: var(--white);
}

.total-price {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: var(--gray);
  display: flex;
  justify-content: center;
  background-color: rgb(206, 212, 218);
}

.total-price p {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: .1em;
}

.shopping-cart {
  position: relative;
  padding: .5em 0;
  margin: 7em auto auto;
  width: 80%;
  border-radius: 10px;
  background-color: var(--black-medium);
  border: 1px solid var(--gray);
}

.shopping-cart h2 {
  margin: .3em 0 0 1em;
  font-size: .8em;
  color: var(--available);
}

.cart-items {
  width: 100%;
  margin: 1em .5em;
}

.delete {
  cursor: pointer;
}

.empty-cart-message {
  text-align: center;
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  color: var(--available);
  font-size: .8em;
}

.empty-cart-message p {
  margin: 0;
}

.items-container {
  display: flex;
  align-items: flex-end;
}

.btn-forward {
  padding-left: .8em;
  width: 8%;
}

.user-info-container {
  position: relative;
  padding: 1em;
  margin: 7em auto 5em auto;
  width: 70%;
  height: auto;
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.user-info-container p {
  margin: 0 .6em .5em 0;
  font-size: 1em;
  letter-spacing: .1px;
  color: rgb(228, 228, 228);
}

.info-form {
  height: auto;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.btn-submit {
  margin-top: 2em;
  width: 140px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: bisque;
  float: right;
}

.btn-submit:hover {
  background-color: var(--selected);
}

.btn-success {
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: rgb(255, 226, 163);
  float: right;
}

.btn-success:hover {
  background-color: orange;
}

.table-items {
  width: 100%;
  background-color: var(--black-dark);
  margin-left: .3em;
  color: rgb(199, 199, 199);
  font-size: .6em;
  border-collapse: collapse;
}

.t-body tr {
  border-top: 1px solid hsl(0, 0%, 16%);
  border-bottom: 1px solid hsl(0, 0%, 16%);
  background-color: var(--black-medium);
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-foot {
  text-align: right;
}

.t-foot td {
  font-size: 1.2em;
}

.t-foot td,
.title-row th {
  padding: .6em .4em;
}

.t-center {
  text-align: center;
}

td,
th {
  padding: .2em .4em;
}

.not-showing {
  margin: 0;
  color: var(--selected);
  font-size: 1.2em;
  border: 1px solid var(--gray);
  border-radius: 15px;
  padding: .5em 0;
}

@media (min-width: 780px) {
  .header-container {
    padding: .6em 0;
  }

  ul {
    width: 65%;
  }

  .now-showing {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .footer-menu {
    gap: 9em;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-menu,
  .copyright {
    font-size: .875rem;
  }

  .title-content {
    padding-left: 3em;
    padding-bottom: 3em;
  }

  .selection-title-content {
    padding-left: 3em;
    padding-bottom: 1em;
  }

  .title {
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: .1em;
  }

  .title-other {
    font-size: 1.2em;
    font-weight: 300;
  }

  .title-date {
    font-size: 1.5em;
    font-weight: 400;
  }

  .session-background {
    height: 300px;
    filter: blur(5px);
  }

  .bkg-mask {
    height: 300px;
  }

  .screening-title {
    font-size: 1.6em;
    margin: 1.5em 0 .5em 0;
    letter-spacing: 3px;
  }

  .start-times {
    margin: 0 1em;
  }

  .start-times p {
    padding: .2em 1.5em;
    border-radius: 20px;
    font-size: 1.5em;
  }

  .legend {
    margin-left: 3em;
    margin-top: 2em;
  }

  .legend-item {
    width: 130px;
    padding-right: 1em;
  }

  .legend-title {
    font-size: 1em;
    margin: 0;
    padding-left: .6em;
  }

  .square {
    width: 30px;
    height: 30px;
    box-shadow: 0 -3px 5px black inset;
  }

  .seat-square {
    width: 5vw;
    height: 2.3vw;
    margin-right: .5em;
    border-radius: 10px 10px 0 0;
  }

  .row {
    padding-bottom: .5em;
  }

  .row-number {
    width: 16px;
  }

  .seat-square:hover:not(.square-unavailable) span {
    display: block;
  }

  .selection-footer {
    border-radius: 10px 0 0 0;
  }

  .selection-footer p {
    font-size: 1em;
  }

  .selected-seats {
    width: 92%;
    border-radius: 0 10px 0 0;
    padding-left: .3em;
  }

  .selected-seats>p {
    display: inline;
    margin-left: .5em;
    font-size: 1em;
  }

  .viewing-area {
    margin-top: 1.5em;
  }
  
  .empty-cart-message { 
    top: 22px;
  }

  .add-to-cart {
    width: 8%;
    padding-left: .8em;
  }

  .btn-add-to-cart {
    position: relative;
    right: 6px;
    bottom: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .selected-seat-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .4em;
    margin: .8em 0;
    padding-left: .8em;
    padding-top: 0;
    width: 60%;
  }

  .selected-seat {
    height: 40px;
  }

  .total-price {
    background-color: inherit;
    position: relative;
    width: 40%;
  }

  .total-price p {
    font-size: 1.4em;
  }

  .table-items {
    font-size: .8em;
  }

  .shopping-cart h2 {
    font-size: 1em;
    margin-left: 1em;
  }
}

@media (min-width: 1200px) {
  ul {
    width: 45%;
  }

  .now-showing {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-menu {
    gap: 15em;
  }

  .title-img {
    display: block;
  }

  .session-background {
    filter: blur(20px);
  }

  .selection-title-img {
    display: block;
  }

  .selection-background {
    filter: blur(20px);
  }

  .seat-square {
    width: 70px;
    height: 33px;
    margin-right: .7em;
    border-radius: 15px 15px 0 0;
  }

  .selection-footer p {
    font-size: 1.2em;
  }

  .viewing-area {
    margin-top: 2em;
  }

  .empty-cart-message {
    font-size: 1em;
  }

  .add-to-cart {
    padding-left: 0;
  }

  .btn-add-to-cart {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: 7px;
  }

  .selected-seat-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 80%;
  }

  .selected-seat {
    height: 50px;
  }

  .total-price {
    width: 30%;
    position: relative;
  }

  .total-price p {
    font-size: 1.45em;
    margin: 0;
  }

  .info-form {
    gap: 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .user-info-container p {
    margin-bottom: 1em;
    font-size: 1.2em;
    letter-spacing: .2px;    
  }

  .table-items {
    font-size: 1em;
  }

  .shopping-cart h2 {
    font-size: 1.3em;
    margin-left: .8em;
  }
}

@media (min-width: 1700px) {
  ul {
    width: 30%;
  }

  .now-showing {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-menu {
    gap: 20em;
  }

  .selected-seats {
    border-radius: 0 15px 0 0;
  }

  .selection-footer {
    border-radius: 15px 0 0 0;
  }

  .selection-footer p {
    font-size: 1.3em;
    font-weight: 400;
  }

  .btn-add-to-cart {
    height: 60px;
    width: 60px;
  }

  .selected-seat-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 74%;
  }

  .total-price {
    width: 26%;
    position: relative;
  }

  .total-price p {
    font-size: 1.8em;
  }

  .shopping-cart h2 {
    font-size: 1.5em;
    margin-left: .7em;
  }
}