:root {
  --black-dark: #080808;
  --black-medium: hsl(0, 0%, 8%);
  --gray: #333333;
  --gray-light: #808080;
  --blue: #0c72f7;
  --white: #fdfaeb;
  --available: rgb(179, 179, 179);
  --unavailable: hsl(0, 0%, 27%);
  --selected: rgb(255, 153, 0);
  --successful-bg: rgb(255, 250, 233);
}

body, html {  
  margin: 0;
  padding: 0;
  background-color: var(--black-dark);
  background-attachment: fixed;;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
