:root {
  --black-dark: #080808;
  --black-medium: #1b1b1b;
  --gray: #333333;
  --gray-light: #808080;
  --yellow: #f7a50c;
  --white: #fdfaeb;
}

body, html {  
  margin: 0;
  padding: 0;
  background-color: var(--black-dark);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
