:root {
  --black-dark: #0f0f0f;
  --black-medium: #1b1b1b;
  --gray: #333333;
  --gray-light: #808080;
  --blue: #0c72f7;
  --white: #fdfaeb;
}

body, html {  
  margin: 0;
  padding: 0;
  background-color: var(--black-dark);
  background-attachment: fixed;;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
