<header
    class="d-flex flex-row align-items-center justify-content-start p-3 px-4 mb-3 bg-white border-bottom fixed-top shadow-sm">
    <img class="logo" src="/assets/images/cinema.png" alt="logo" style="max-height: 50px;" routerLink="/">
    <nav class="my-2 text-uppercase fs-4">
        <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="p-2" routerLink="/booking" routerLinkActive="active">Ticket booking</a>
    </nav>
</header>